body {
    max-height: 100vh;
    overflow: hidden;
}

.ad-unit.bottom {
    display: none !important;
}

.widgets-container .widget:hover {
    z-index: 2;
}

.widget.todo .item.important {
    background: #420;
}

.store-detail .preview .widget,
.widgets-container .widget,
.calendar .agenda {
    background: rgba(30, 30, 30, 0.8);
    color: #fff;
}

.store-detail .preview .widget.legacy,
.widgets-container .widget.legacy,
.widget .header {
    color: #fff;
}

.calendar .agenda .day .events,
.calendar .agenda .day .event {
    background: rgba(30, 30, 30, 0.8);
    color: #fff;
}

.calendar .agenda .day .events:hover,
.calendar .agenda .day .event:hover {
    background: rgba(60, 60, 60, 0.8)
}

.calendar .agenda {
    max-height: calc(100vh - 111px);
}

.feedly .items,
.reddit .items,
.twitter .tweets {
    max-height: calc(100vh - 141px);
}

.item .title,
input {
    color: #eee !important;
}

.tab-container .tab > .ad-unit.bottom ~ .widgets-container {
    margin-bottom: 0;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-popover .fc-header {
    background: #333;
}
